@import '../../variables.scss';

.discover__trends {
  &--container {
    position: relative;

    height: 100%;
    overflow: hidden;

    // height: 55rem;

    // .horizontalSlider___281Ls {
    //   height: 55rem;
    // }

    &--prev,
    &--next {
      cursor: pointer;
      transition: all 0.25s linear;

      border: none;
      background: none;

      color: inherit;
      font-size: inherit;

      font-size: 5rem;

      opacity: 1;

      &:hover {
        color: $color-primary;
      }
    }

    &--prev {
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translate(0, -50%);
    }

    &--next {
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translate(0, -50%);
    }
  }

  &--item {
    position: relative;

    // height: 55rem;

    &--image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      object-fit: cover;

      opacity: 0.5;
    }

    &--title {
      position: absolute;
      top: 2rem;
      left: 2rem;

      text-transform: uppercase;

      @media only screen and (max-width: $bp-smallest) {
        top: 1.5rem;
        left: 1.5rem;

        font-size: 1.75rem;
      }

      @media only screen and (max-width: $bp-phone) {
        top: 1rem;
        left: 1rem;

        font-size: 1.5rem;
      }
    }

    &--more {
      position: absolute;
      top: 2rem;
      right: 2rem;

      text-transform: uppercase;

      @media only screen and (max-width: $bp-smallest) {
        top: 1.5rem;
        right: 1.5rem;

        font-size: 1.75rem;
      }

      @media only screen and (max-width: $bp-phone) {
        top: 1rem;
        right: 1rem;

        font-size: 1.5rem;
      }

      a {
        text-decoration: none;
        color: $color-white;

        display: flex;
        align-items: center;

        transition: all 0.25s linear;

        ion-icon {
          margin-left: 0.5rem;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }

    &--content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-smallest) {
        top: 20%;
        left: 35%;
        transform: translate(-50%, -50%);

        transform: scale(0.9);
      }

      @media only screen and (max-width: $bp-phone) {
        top: 10%;
        left: 32.5%;

        transform: scale(0.7);
      }

      &--description {
        margin-left: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 50rem;

        @media only screen and (max-width: $bp-small) {
          margin-left: 2rem;
          // min-width: 30rem;
        }

        &--title {
          font-size: 4rem;
          font-weight: 500;

          @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
          }
        }

        &--text {
          @media only screen and (max-width: $bp-smallest) {
            font-size: 1.75rem;
          }
        }
      }
    }

    &--popular {
      @media only screen and (max-width: $bp-medium) {
        margin-left: 2rem;
        width: 60rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin-left: 2rem;
        width: 45rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        left: 5%;
        transform: translate(-50%, -50%);

        transform: scale(0.9);

        width: 40rem;
      }

      @media only screen and (max-width: $bp-phone) {
        width: 40rem;

        left: -2.5%;

        transform: scale(0.7);
      }
    }
  }
}
