@import '../../variables.scss';

.discover__featured--item {
  position: relative;

  overflow: hidden;

  // height: 26.5rem;

  height: 100%;

  // border: 1px solid white;

  color: $color-white;

  &:hover {
    .discover__featured--item--image {
      transform: scale(1.1);
      transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  &:hover:after {
    .discover__featured--item--image {
      transform: scale(1);
      transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  &--image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;

    opacity: 0.4;
  }

  &--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 5rem;
      font-weight: 500;
    }

    &--title {
      font-size: 2rem;
      font-weight: 500;

      @media only screen and (max-width: $bp-phone) {
        font-size: 1.75rem;
      }

      // text-shadow: 2px 2px $color-black;
    }
  }
}
