@import '../../variables.scss';

.discover-item {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  margin-top: 20rem;

  @media only screen and (max-width: $bp-small) {
    margin-top: 10rem;
  }

  &__header {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;

    display: flex;
    justify-content: center;

    margin-bottom: 3rem;
    padding-bottom: 1rem;

    text-transform: uppercase;
    letter-spacing: 0.25rem;

    font-weight: 500;
    font-size: 3.5rem;

    position: relative;

    @media only screen and (max-width: $bp-smallest) {
      grid-column: full-start / full-end;

      padding: 0 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 3rem;
    }

    &::after {
      display: block;
      content: '';
      width: 25rem;
      height: 3px;
      background: white;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
    }
  }

  &__content {
    margin: 10rem 0;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    justify-content: center;

    grid-gap: 5rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: 5rem;
    }

    .featured-item,
    .id-item {
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-small) {
      // grid-template-columns: repeat(2, 1fr);

      grid-column: full-start / full-end;

      padding: 0 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__placeholder {
    margin: 10rem 0 20rem 0;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    // text-align: center;

    font-size: 2rem;

    // color: $color-primary;

    // justify-content: center;
    justify-self: center;

    padding: 1.5rem;

    background-color: $color-grey-dark-5;
    border: 2px solid $color-grey-dark-6;
  }
}
