@import '../../variables.scss';

.stats-item {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    text-align: center;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  ion-icon {
    font-size: 4rem;
  }

  &__content {
    margin-left: 3rem;

    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
  }
}
