@import '../../index.scss';

.controller {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;

  display: flex;
  justify-content: space-around;

  padding: 10rem 0;

  @media only screen and (max-width: $bp-small) {
    padding: 5rem 3rem 7.5rem 3rem;

    grid-column: full-start / full-end;
  }

  &__btn {
    padding: 1rem 10rem;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    cursor: pointer;

    border: 2px solid $color-grey-dark-1;
    background-color: $color-grey-dark-5;

    color: $color-grey-light-3;

    text-decoration: none;
    transition: all 0.25s linear;

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem 2.5rem;
    }

    @media only screen and (max-width: $bp-phone) {
      padding: 1rem 2rem;
      letter-spacing: 0.2rem;
    }

    &:hover {
      border: 2px solid $color-grey-light-3;
      background-color: $color-grey-dark-4;

      color: $color-white;
    }

    &--selected {
      border: 2px solid $color-primary-dark;
      transition: all 0.25s linear;

      &:hover {
        border: 2px solid $color-primary;
      }
    }
  }

  &__movies {
  }

  &__shows {
  }
}
