@import '../../index.scss';

.footer {
  background-color: $color-grey-dark-6;

  grid-row: 4 / 5;
  grid-column: full-start / full-end;

  display: grid;

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  padding: 10rem 0 3rem 0;

  &__col-1 {
    grid-column: center-start / col-end 4;
    grid-row: 1 / 2;
    position: relative;

    &--title {
      font-weight: 500;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 0.25rem;

      margin-bottom: 3rem;

      &::after {
        display: block;
        content: '';
        width: 26rem;
        height: 1px;
        background: white;
        position: absolute;
        bottom: 12rem;
        left: 0;
      }
    }

    &--subtitle {
      margin-bottom: 3rem;

      * {
        color: $color-white;
        text-decoration: none;
        transition: all 0.25s linear;

        &:hover {
          color: $color-primary;
        }

        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }

    &--copyright {
      &--name {
        color: $color-primary;
      }

      &--rights {
      }

      &--link:link,
      &--link:visited {
        color: inherit;
        text-decoration: none;
        transition: all 0.25s linear;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__col-2 {
    grid-column: col-start 5 / center-end;
    grid-row: 1 / 2;

    justify-self: flex-end;

    &--logo {
      width: 15rem;
      transition: all 0.25s linear;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__links {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;

    margin-top: 5rem;

    display: flex;
    justify-content: center;

    .btn__contact {
      color: $color-white;
      text-decoration: none;
      font-size: 3rem;
      transition: all 0.25s linear;

      &:not(:last-child) {
        margin-right: 2.5rem;
      }

      &:hover {
        color: $color-primary;

        & ion-icon {
          transform: none;
        }
      }
    }
  }
}
