@import '../../index.scss';

.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-4, 0.8),
      rgba($color-grey-dark-5, 0.8)
    ),
    url('https://www.gstatic.com/tv/thumb/tvbanners/9181462/p9181462_b_v8_aa.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: flex-end;

  &__text {
    display: flex;
    flex-direction: column;

    font-size: 2rem;

    padding: 5rem;

    &--type {
      text-transform: uppercase;
    }

    &--title {
      font-weight: 500;

      font-size: 3rem;
    }

    &--subtitle {
    }
  }
}
