@import '../../variables.scss';

.profile {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  &__header {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;

    display: grid;

    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];

    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      ),
      url('../../assets/profile-background.png');

    // opacity: 0.5;

    padding-top: 15rem;
    padding-bottom: 10rem;

    &--details {
      grid-column: center-start / center-end;

      display: flex;
      justify-content: space-between;

      min-height: 10rem;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media only screen and (max-width: $bp-smallest) {
        grid-column: full-start / full-end;
        padding: 0 3rem;
      }

      &--col-1 {
        display: flex;
      }

      &--col-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          margin-top: 5rem;

          a {
            margin-right: 3rem;
          }
        }
      }

      &--image {
        width: 8rem;
        height: 8rem;

        // border-radius: 50%;
        border: 1px solid $color-white;
      }

      &--content {
        margin-left: 3rem;

        display: flex;
        flex-direction: column;

        font-weight: 500;

        max-width: 111rem;

        &--name {
          font-size: 3rem;

          @media only screen and (max-width: $bp-smallest) {
            font-size: 2.5rem;
          }
        }

        &--date {
          font-size: 1.5rem;

          &--since {
            color: $color-grey-dark-1;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &__stats {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    margin: 3rem 0 10rem 0;

    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 0 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;

    @media only screen and (max-width: $bp-small) {
      padding: 0rem 3rem;

      grid-column: full-start / full-end;
    }
  }

  &__settings {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;

    width: 65rem;

    margin: 0 auto;

    margin-bottom: 10rem;

    label {
      color: $color-white;
    }

    input {
      border: 2px solid $color-grey-dark-1;
    }

    textarea {
      border: 2px solid $color-grey-dark-1;

      resize: none;

      color: $color-black;

      margin-bottom: 2.5rem;
    }

    button {
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0rem 3rem;

      grid-column: full-start / full-end;
    }

    @media only screen and (max-width: $bp-small) {
      width: 50rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 45rem;
    }

    @media only screen and (max-width: $bp-phone) {
      width: 40rem;
    }
  }
}
