@import '../../index.scss';

.profile {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  &__header {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;

    display: grid;

    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];

    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      ),
      url('../../assets/profile-background.png');

    // opacity: 0.5;

    padding-top: 15rem;
    padding-bottom: 10rem;

    &--details {
      grid-column: center-start / center-end;

      display: flex;
      justify-content: space-between;

      &--col-1 {
        display: flex;
      }

      &--col-2 {
        // display: flex;
      }

      &--image {
        width: 8rem;
        height: 8rem;

        border-radius: 50%;
        // border: 2px solid $color-white;
      }

      &--content {
        margin-left: 3rem;

        display: flex;
        flex-direction: column;

        font-weight: 500;

        &--name {
          font-size: 3rem;
        }

        &--date {
          font-size: 1.5rem;

          &--since {
            color: $color-grey-dark-1;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &__stats {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    margin: 3rem 0;
  }
}
