@import '../../index.scss';

.discover {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  &__trends {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 5.5rem;

    height: 55rem;
  }

  &__featured {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
  }

  &__popular {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;

    height: 110rem;
  }
}
