@import '../../index.scss';

.id-content {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;

  padding: 10rem 0;

  &__title {
    margin-bottom: 3rem;
    padding-bottom: 1rem;

    text-transform: uppercase;
    letter-spacing: 0.25rem;

    font-weight: 500;
    font-size: 2.5rem;

    position: relative;

    &::after {
      display: block;
      content: '';
      width: 16rem;
      height: 1px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__summary {
    margin-bottom: 5rem;

    &:not(:last-child) {
      padding-bottom: 5rem;
      border-bottom: 2px $color-grey-dark-5 solid;
    }
  }

  &__cast {
    margin-bottom: 5rem;

    &:not(:last-child) {
      padding-bottom: 5rem;
      border-bottom: 2px $color-grey-dark-5 solid;
    }
  }

  &__trailers {
    margin-bottom: 5rem;

    &:not(:last-child) {
      padding-bottom: 5rem;
      border-bottom: 2px $color-grey-dark-5 solid;
    }
  }

  &__reviews {
    margin-bottom: 5rem;

    &:not(:last-child) {
      padding-bottom: 5rem;
      border-bottom: 2px $color-grey-dark-5 solid;
    }

    &--content {
      &--review {
        background-color: rgba($color-grey-dark-4, 0.5);
        border: 2px $color-grey-dark-5 solid;

        padding: 5rem;

        &:not(:last-child) {
          margin-bottom: 5rem;
        }

        &--url {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
